link(rel="import" href="#{config.base_url}/elements/inputs/text.html" async)
link(rel="import" href="#{config.base_url}/elements/inputs/email.html" async)
link(rel="import" href="#{config.base_url}/elements/inputs/number.html" async)
link(rel="import" href="#{config.base_url}/elements/inputs/date.html" async)
link(rel="import" href="#{config.base_url}/elements/inputs/textfield.html" async)
