each name in names
  link(rel="import" href="./#{name}/create.html" async)
  link(rel="import" href="./#{name}/list.html" async)
  link(rel="import" href="./#{name}/read.html" async)
  link(rel="import" href="./#{name}/single.html" async)
  link(rel="import" href="./#{name}/update.html" async)
