doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= config.frontend ? config.frontend.name : "Multicolour Polymer"

    //- Set some basic META information.
    meta(name="description" content=package.description)
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- Feel free to remove this but it would be rad if you kept it <3
    meta(name="generator" content="Multicolour - Polymer")

    //- Prefetch the API to make access faster.
    link(rel="dns-prefetch" href="#{api_root}")
    
    //- Get our base stylesheet, prevent FOUC.
    link(rel="stylesheet" href="/css/base.css")
    link(rel="mask-icon" href="/assets/website-icon.svg" color="#C43A8C")
    link(rel="icon" href="/assets/favicon.ico" type="image/x-icon")
    
    //- Import all of our elements.
    link(rel="import" href="/elements.html")

  body
    template#app(is="dom-bind")
      paper-drawer-panel#drawer-panel
        paper-scroll-header-panel(drawer fixed)
          paper-toolbar#toolbar
            paper-icon-button#toggle(icon="menu" paper-drawer-toggle) Menu

          //- MENU.
          paper-menu#main-menu(attr-for-selected="data-route" selected="[[route]]")
            a(data-route="home" href="/" is="pushstate-anchor")
              iron-icon(icon="home")
              span Home
            - each name in names
              a(data-route="#{name}" href="/#{name}" class="#{name}-menu-item" is="pushstate-anchor")
                iron-icon(icon="chevron-right")
                span #{name}
            a(href="#{api_root}/session/twitter")
              iron-icon(icon="lock")
              span Login

        //- TOP BAR WITH APP NAME AND DESCRIPTION IN IT.
        paper-scroll-header-panel(main condenses keep-condensed-header)
          paper-toolbar#main-toolbar.tall
            .middle.middle-container
              h1.app-name= config.frontend ? config.frontend.name : "Multicolour Polymer"
            .bottom
              p.app-description= config.frontend ? config.frontend.description : "REST API & Polymer app generator."
          
          //- ROUTER.
          app-router
            app-route(path="/" element="home-element")
            - each name in names
              app-route(path="/#{name}" element="#{name}-list")
              app-route(path="/#{name}/new" element="#{name}-create")
              app-route(path="/#{name}/:rid" element="#{name}-single")
              app-route(path="/#{name}/:rid/edit" element="#{name}-update")

    script(src="/js/entry.js")
    script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
