link(rel="import" href="/bower_components/polymer/polymer.html")

dom-module(id="#{name}-list")  
  template
    style.
      :host {
        display: block;
        padding: 1em;
      }
      
      .create {
        display: inline-block;
        text-align: right;
        text-decoration: none;
        color: #333;
        padding: 1em;
        background: #FFF;
        margin: 1em 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

    iron-ajax(
      auto="false"
      id="#{name}-req"
      url="#{api_root}/#{name}"
      headers="[[xhr_headers]]"
      on-response="_#{name}_response"
    )
    
    a.create(is="pushstate-anchor" href="/#{name}/new") Create a new #{name}
    
    paper-material(elevation="1")
      p Notice how a few properties aren't visible below (If you have any users)
      p <code>salt</code> and <code>password</code> are omitted by the <code>toJSON</code> method on the user model.

    template(is="dom-repeat" items="[[response]]")
      #{name + "-single"}(entity="[[item]]")
    
  script.
    Polymer({
      is: "#{name}-list",
      
      properties: {
        response: {
          type: Array,
          value: function() {
            return []
          }
        },
        xhr_headers: {
          type: Object,
          notify: true,
          computed: "_xhr_headers(response)"
        }
      },
      
      _xhr_headers: function get_xhr_headers(stuff) {
        return window.app.get("headers")
      },
      
      _#{name}_response: function _#{name}_response(event, request) {
        var response = request.xhr.response
        
        if (Array.isArray(response.data)) {
          this.set("response", response.data)
        }
        else {
          this.set("response", [response.data])
        }
      }
    })
      
